@import "../../styles/styles.scss";

.welcomeTile {
    position: relative;
    display: flex;
    padding: 24px;
    gap: 24px;

    .bgPattern {
        position: absolute;
        width: 20%;
        z-index: -1;
        bottom: 10%;
        right: 10%;
    }

    .imageWrapper {

        img {
            object-fit: cover;
            height: 400px;
            max-width: 300px;
            border-radius: 12px;
        }
    }

}