@import "../../styles/styles.scss";

.h1 {
    color: $primatyColor;   
    text-align: center;
}
.h2 {
    color: $primatyColor;   
    text-align: center;
}
.h3 {
    color: $primatyColor;   
    text-align: center;
}
.h4 {
    color: $primatyColor;   
}