@import "../../styles/styles.scss";

.headerWrapper {
    background: $primatyColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $commonPadding;
}

.logoWrapper {
    img {
        max-width: 100px;
    }
}

.menuWrapper {
    display: flex;
    color: $textColorAlt;
    line-height: 2.6rem;
    font-weight: 600;
    // gap: 12px;

    >* {
        padding: $commonPadding;
        // border-left: 2px solid brown;
        text-align: center;
        min-width: 220px;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: $primatyColorHover;
        }
    }
}